<h1>All Restaurants</h1>

<table>
<% @restaurants.each do |restaurant| %>
  <tr>
    <td class="icon <%= restaurant.tags.map(&:name).join(" ") %>"></td>
    <td><%= restaurant.name %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
