!!! 5
%html
  %head
    != yield :stylesheets
    != stylesheet_link_tag "jqtouch.min","apple/theme.min","lunchtime"
    != javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    != javascript_include_tag  "jqtouch.min"
    %title Lunch Time
    %link{:rel => "apple-touch-icon", :href => "/images/iphone-logo.png"}
  %body
    != yield
    :javascript
      function GetTimespanString(totalSeconds) {
        var hours = Math.floor(totalSeconds/60/60);
        var minutes = Math.floor((totalSeconds % 3600) / 60)
        var seconds = totalSeconds % 60; 

        return hours + ":" + minutes + ":" + seconds;
      }

      $(document).ready(function(){
        function tick(){
          var secondsLeft = parseInt($('.timer').attr('title'));
          $('.timer').text(GetTimespanString(secondsLeft));
          $(".timer").attr('title', --secondsLeft);
          if (secondsLeft === 0) {
              location.reload();
          }
        }
        if ($('.timer').length>0){
          setInterval(tick,1000);
          tick();
        }
      });
      var jqt = $.jQTouch({});
    != yield :scripts

